report/01-theoretical.aux
report/02-practical.aux
report/03-appendix.aux
report/report.aux
report/report.bbl
report/report.bcf
report/report.blg
report/report.log
report/report.out
report/report.run.xml
report/report.synctex.gz
report/report.toc
report/inc/img/approx_func.png
report/inc/img/mse_func.png
report/inc/img/tux.png
report/inc/img/tuz.png
report/inc/lst/gar.py
report/inc/lst/gen.py
report/report.fdb_latexmk
report/report.fls
